form {
  background-color: rgb(184, 202, 235);
  width: 600px;
  border: 3px solid blue;
  margin: 0 auto;
  border-radius: 1em;
  padding:3em;
  }

  input, textarea {
    width: 500px;
    color :rgb(153, 171, 208)
  }

button {
  margin-left: .9em;
  }

  h2{
    text-align: center;
    color : blue;
  }
  
  label {
    color : rgb(65, 47, 221);
    text-align: left;
    width: 90px;
  }

  textarea {
    height: 8em;
    color :rgb(153, 171, 208)
  }
  
  .button {
    text-align: center;
  }
  
 