<div>
    <app-header></app-header>
    <app-side-bar></app-side-bar>
</div>
<app-side-bar [backgroundColor]="'rgb(184, 202, 235)'"></app-side-bar>


<div>

    <app-alert *ngIf="isShow" [alert]="alert" (eventClose)="onClickCloseAlert()"></app-alert>
    <h2>Nous contacter</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">


        <label for="name">Nom :</label>
        <div>
            <input type="text" id="floatingInputlastName" [(ngModel)]="expName" placeholder="{{expName}}"   name="lastName" formControlName="lastNameFc" />
        </div>

        <label for="mail">E-mail :</label>
        <div>
            <input type="email" id="floatingInputemail" placeholder="{{expMail}}" [(ngModel)]="expMail" name="email" formControlName="emailFc" />
        </div>

        <label for="msg">Message :</label>
        <textarea formControlName="messageFc" id="msg" name="message" placeholder="Formulez votre demande ici"
            required></textarea>

        <div class="button">
            <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">Envoyez votre
                message</button>
            <button type="button" class="btn btn-danger" (click)="onDeleteMail()">Effacer</button>
        </div>

    </form>
</div>

<app-footer></app-footer>