.titre{
  display: inline-flex;
  margin-left: 20px;
  text-align: center;
  color: #5d5fef;
  font-size: 30px;
}

h3{
  display: inline-flex;
  margin-left: 20px;
  text-align: center;
  font-size: 25px;
}

.meteo {
  margin-left: 500px;
  margin-top: -60px;
}

.container {
  margin-left:200px;
  margin-top: 20px;
}

.avatar{
  margin:10px;
}
