.titre{
  display: inline-flex;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
}

.meteo {
  margin-left: 500px;
  margin-top: -60px;
}

.container {
margin-left:200px;
}

.avatar{
  margin:O;
}