.btn-circle.btn-xl {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: center;
  float: right;
}

.btn-circle.btn-xl:hover {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #5d5fef;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
  float: right;
}
