<div class="menu">
<div *ngFor="let menu of listMenus">
  <p>{{ menu.dateMenu }} {{ menu.libelle }}</p>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Ajouter un menu
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">
        ×
      </span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="menuForm">
      <div class="form-group">
        <label for="dateMenu">
          Date
        </label>
        <div class="input-group">
          <input id="dateMenu" class="form-control" formControlName="dateMenuFc" placeholder="yyyy-mm-dd" name="date"
          >
<input id="libelle" class="form-control" formControlName="libelleFc" placeholder="" name="libelle"
>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(saveMenu())">
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
 Ajouter un menu
</button>



</div>
