<body>

<p>footer works!</p>
<h2>PLAN DU SITE</h2>



<a routerLink="../accueil" routerLinkActive="active-custom" class="nav-link">Page d'accueil</a>
<a routerLink="../compte" routerLinkActive="active-custom" class="nav-link">Ma Team</a>
<a routerLink="../repertoire" routerLinkActive="active-custom" class="nav-link">Répertoire</a>
<a routerLink="../to-do-list" routerLinkActive="active-custom" class="nav-link">To-Do-List</a>
<a routerLink="../menu" routerLinkActive="active-custom" class="nav-link">Menus</a>
<a routerLink="../compte" routerLinkActive="active-custom" class="nav-link">Ma Team</a>
<a routerLink="../repertoire" routerLinkActive="active-custom" class="nav-link">Répertoire</a>
<a routerLink="../to-do-list" routerLinkActive="active-custom" class="nav-link">To-Do-List</a>
<a routerLink="../menu" routerLinkActive="active-custom" class="nav-link">Menus</a>


</body>