<div class="footer text-center" >
<h3>Plan du site</h3>
<div class="liens">
<a routerLink="../tableau-de-bord" routerLinkActive="active-custom" class="nav-link">Tableau de bord</a>
<a routerLink="../compte" routerLinkActive="active-custom" class="nav-link">Ma Team</a>
<a routerLink="../repertoire" routerLinkActive="active-custom" class="nav-link">Répertoire</a>
<a routerLink="../to-do-list" routerLinkActive="active-custom" class="nav-link">To-Do-List</a>
<a routerLink="../agenda" routerLinkActive="active-custom" class="nav-link">Agenda</a>
<a routerLink="../menu" routerLinkActive="active-custom" class="nav-link">Menus</a>
<a routerLink="../page-support" routerLinkActive="active-custom" class="nav-link">Nous contacter</a>
</div>
</div>
