<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow py-0 ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <img routerLink="accueil" routerLinkActive="active-custom" class="nav-link" style="max-height: 12% ; max-width: 12%" src="../../../assets/images/logo-organizee.png"/>
            </div>
        </div>
        <a class="navbar-brand" href="#">Organizee</a>
    </div>
</nav>