#img {
  height:95px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 3rem;
  color: #5d5fef;
}

a:visited {
  color: #5d5fef;
}

a:focus {
  border-bottom: 1px solid;
  background: #a5a6f6;
}

a:hover {
  color: #7879f1;
}

a:active {
  color: #5d5fef;
}

.container-fluid{
  width:90%;
}