<app-header></app-header>
<div class="reset-form text-center">
  <main class="form-reset">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
      <h3>Entrez ici votre email et votre nouveau mot de passe</h3>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder=""
          name="password"
          formControlName="passwordFc"
          [ngClass]="{
            'is-valid':
              resetForm.controls['passwordFc'].touched &&
              resetForm.controls['passwordFc'].valid,
            'is-invalid':
            resetForm.controls['passwordFc'].touched &&
              !resetForm.controls['passwordFc'].valid
          }"
        />
        <label for="floatingPassword">MOT DE PASSE</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingpasswordConfirm"
          placeholder=""
          name="passwordConfirm"
          formControlName="passwordConfirmFc"
          [ngClass]="{
            'is-valid':
            resetForm.controls['passwordConfirmFc'].touched &&
            resetForm.controls['passwordConfirmFc'].valid,
            'is-invalid':
            resetForm.controls['passwordConfirmFc'].touched &&
              !resetForm.controls['passwordConfirmFc'].valid
          }"
        />
        <label for="floatingPasswordConfirm">CONFIRMEZ VOTRE MOT DE PASSE</label>
      </div>
    <button class="w-100 btn btn-outline-success" type="submit" [disabled]="resetForm.invalid">Enregistrer</button>

    </form>


  </main>
</div>

