.reset-form {
  height: 100vh;
  padding-top: 40px;
  background-color: #ffff;
}

.form-reset {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: solid 1px;
  border-radius: 10px;
  background-color: #fcddec;
  border-color: #ef5da8;
}

.form-reset .checkbox {
  font-weight: 400;
}

.form-reset .form-floating:focus-within {
  z-index: 2;
}

.form-reset input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-reset input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-outline-success {
  background-color: #ffff;
  color: #ef5da8 !important;
  border-color: #ef5da8 !important;
}
