<app-header></app-header>
<div class="reset-form text-center">
  <main class="form-reset">
    <form (ngSubmit)="onSubmit(resetForm)" #resetForm="ngForm">
      <h3>Entrez ici votre email et votre nouveau mot de passe</h3>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingEmail" placeholder="" name="email" ngModel required
          [ngClass]="{'is-valid': resetForm.form.touched && resetForm.form.value['email'] != '' ,
                                          'is-invalid': resetForm.form.touched && resetForm.form.value['email'] == ''}">
        <label for="floatingEmail">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="" name="password" ngModel
          required [ngClass]="{'is-valid': resetForm.form.touched && resetForm.form.value['password'] != '' ,
                                    'is-invalid': resetForm.form.touched && resetForm.form.value['password'] == ''}">
        <label for="floatingPassword">Mot de passe</label>
      </div>
    <button class="w-100 btn btn-outline-success" type="submit" [disabled]="resetForm.invalid">Enregistrer</button>

    </form>


  </main>
</div>

