.signin-form {
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.connexion {
  border: solid 4px;
  border-radius: 10px;
  background-color: #ffff;
  border-color: #5d5fef;
}

.form-floating:focus-within {
  z-index: 2;
}

input[type="email"] {
  margin-bottom: -1px;
  margin-right: 50px;
  padding-right: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="password"] {
  padding-right: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-outline-success {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #ffff;
  color: #5d5fef !important;
  border-color: #5d5fef !important;
}
