<app-header></app-header>

<div class="row">
  <div class="col-md-auto">
    <app-side-bar class="sidebarMenu"></app-side-bar>
  </div>
  <div class="col-md-4 offset-md-4 text-center">
    <h2>Ajouter un évènement à l'agenda</h2>
    <div class="text-center col-md-7 offset-md-3">
        <main class="form-ajout-evenement">
            <form  (ngSubmit)="onSubmit()" [formGroup]="eventForm">
                <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="date" 
                              class="form-control" 
                              id="floatingInputDebut" 
                              placeholder="" 
                              name="startDate" 
                              formControlName="startDateFc">
                      <label for="floatingInputfirstName">Date de début</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="time" 
                              class="form-control" 
                              id="floatingInputDebut" 
                              placeholder="" 
                              name="startHour" 
                              formControlName="startHourFc">
                      <label for="floatingInputfirstName">Heure de début</label>
                    </div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="date" 
                              class="form-control" 
                              id="floatingInputFin" 
                              placeholder="" 
                              name="endDate" 
                              formControlName="endDateFc">
                      <label for="floatingInputlastName">Date de fin</label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="time" 
                              class="form-control" 
                              id="floatingInputFin" 
                              placeholder="" 
                              name="endHour" 
                              formControlName="endHourFc">
                      <label for="floatingInputlastName">Heure de fin</label>
                    </div>
                  </div>
                </div>
                <div class="form-floating">
                    <input type="text" 
                            class="form-control" 
                            id="floatingInputText" 
                            placeholder="" 
                            name="text" 
                            formControlName="textFc">
                    <label for="floatingInputlastName">Libelle</label>
                </div>    
                <button class="btn btn-lg btn-primary" 
                        type="submit" 
                        [disabled]="eventForm.invalid">Ajouter</button>
                <a routerLink="../agenda" class="btn btn-lg btn-primary">Annuler</a>
            </form>
        </main>
    </div>
  </div>
</div>
<app-footer></app-footer>