<app-header></app-header>
<app-side-bar></app-side-bar>

<div>
    <button class="w-100 btn btn-lg btn-secondary " 
        type="submit">Tous les contacts
    </button>

    <button class="w-100 btn btn-lg btn-rounded btn-secondary">
        Ajouter un contact
    </button>

    <div class="input-group mb-3">
        <input type="text" class="form-control" 
            placeholder="Rechercher un contact" 
            aria-label="Rechercher un contact" 
            aria-describedby="basic-addon2"
            #word
            (keyup)="onSearchChange(word.value)">
            
        <div class="input-group-append">
       <!--<button class="btn btn-secondary" type="button">Rechercher</button>--> 
        </div>
    </div>

    <div *ngFor="let personne of listContact" (click)="onClick(personne)" >
        <img style="max-height: 12% ; max-width: 12%" src="../../../assets/images/contact-1.png"/>
        <p class="fiche-contact" >{{ personne.prenom }} {{ personne.nom }}</p>
    </div>
<div *ngIf="openDetails"><app-fiche-contact [personne]="openDetails"></app-fiche-contact></div>
    
</div>
