<app-header></app-header>
<body>
  <div class="container">
<div class="bienvenue">
  <h2 class="titre">BIENVENUE</h2>
<p>
Notre service vous offre des outils et des fonctionnalités pour vous aider à gérer la charge mentale de votre foyer.
<p>Réunis à un seul endroit pour toute la famille, vous pourrez faire des suggestions de menus, gérer un répertoire de
contacts utiles et établir des to-dot-list communes.</p>
<p>Plus de conflit, plus d’excuse de pas avoir su ou de ne pas avoir
lu, nous sommes là pour vous aider !</p>

</div>
<div class="connexion">
<app-signin></app-signin>
</div>
</div>
<div class="pub">
  <img src="../../../assets/images/menu.png" />
  <img src="../../../assets/images/repertoire.png" />
  <img src="../../../assets/images/todo.png" />
  </div>

</body>
