.forgot-form {
  height: 100vh;
  padding-top: 40px;
  background-color: #f5f5f5;
}

.form-forgot {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  .checkbox {
    font-weight: 400;
  }

  .form-floating:focus-within {
    z-index: 2;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
