<div class="container">
    <div class="row">
        <div class="col-sm">  
            <button routerLink="../modifier-contact"  class="w-100 btn btn-lg btn-rounded btn-secondary">
                Modifier
            </button>
        </div>
        <div class="col-sm">
            <button class="w-100 btn btn-lg btn-rounded btn-secondary">
                Supprimer
            </button>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 offset-md-3">
                <img style="max-height: 12% ; max-width: 12%" src="../../../assets/images/contact-1.png"/>
                <p class="fiche-contact" >{{ personne.prenom }} {{ personne.nom }}</p>
                <p class="fiche-contact" ><img style="max-height: 12% ; max-width: 12%" src="../../../assets/images/phone.png"/>
                    {{ personne.telephone }}</p>
                <p class="fiche-contact" ><img style="max-height: 12% ; max-width: 12%" src="../../../assets/images/logo-gmail.png"/>
                    {{ personne.email }}</p>
                <p class="fiche-contact" ><img style="max-height: 12% ; max-width: 12%" src="../../../assets/images/gateau.png"/>
                    {{ personne.dateNaissance }}</p>
                    <p class="fiche-contact" >
                        {{ personne.adresse }}</p>
            </div>
        </div>
        
    </div>
</div>
