.wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  height: 100%;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
}
.nav{
  margin-top: 20px;
  align-items: left;
}

li {
  margin-bottom: 5px;
}


a{
  color: black;
  background-color: white;
  font-weight: bold;
  padding: none;
  margin-bottom: 10px;
  border-radius: 15px;
}
