<nav class="custom-side-bar flex-shrink-0 bg-white">
    <div  id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="../compte" routerLinkActive="active-custom" class="nav-link">Ma Team</a>
            <a routerLink="../repertoire" routerLinkActive="active-custom" class="nav-link">Répertoire</a>
            <a routerLink="../to-do-list" routerLinkActive="active-custom" class="nav-link">To-Do-List</a>
            <a routerLink="../menu" routerLinkActive="active-custom" class="nav-link">Menus</a>
            <a routerLink="../agenda" routerLinkActive="active-custom" class="nav-link">Agenda</a>
        </div>
    </div>
</nav>
