<nav class="wrapper">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="../compte" routerLinkActive="active-custom" class="nav-link">
        <i class="fa fa-people-fill-o"></i>
        Ma Team</a>
    </li>
    <li class="nav-item">
      <a routerLink="../repertoire" routerLinkActive="active-custom" class="nav-link">Répertoire</a>
    </li>
    <li class="nav-item">
      <a routerLink="../to-do-list" routerLinkActive="active-custom" class="nav-link">To-Do-List</a>
    </li>
    <li class="nav-item">
      <a routerLink="../menu" routerLinkActive="active-custom" class="nav-link">Menus</a>
    </li>
    <li class="nav-item">
      <a routerLink="../agenda" routerLinkActive="active-custom" class="nav-link">Agenda</a>
    </li>
  </ul>
</nav>
