<app-header></app-header>
<app-side-bar [backgroundColor]="'#7879F1'"></app-side-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-9 offset-2" id="main">
      <h2 class="col-md-auto titre">{{ currentTeam.nom }}</h2>
      <div class="contenu">
        <!-- Pour récupérer le membre connecté-->
        <div class="d-flex justify-content-center">
          <app-card-member [membre]="currentUser"> </app-card-member>
        </div>
        <div class="d-flex justify-content-center">
          <button
            id="bouton-ajout"
            type="button"
            class="btn btn-primary btn-lg"
            routerLink="../ajout-membre"
            routerLinkActive="active-custom"
            [hidden]="parent == false"
          >
            Ajouter un membre
          </button>
        </div>
      </div>
      <div class="row">
        <!-- Pour exclure le membre connecté de la liste car il est récupéré plus haut-->
        <!-- ng-container pour gérer l'espace vide que laissé le membre exclu à cause du dom -->
        <!-- cf. : https://angular.io/guide/built-in-directives#hosting-a-directive-without-a-dom-element-->
        <ng-container *ngFor="let membreData of listMembres">
          <!-- Condition dans ngIf mais une div à la place du ng-container pour le style-->
          <div class="col" *ngIf="membreData.id != currentUser.id">
            <app-card-member [membre]="membreData"> </app-card-member>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
