button{
  margin-bottom: 5px;
}

#main{
  margin-top: 20px;
}

ng-container{
  display: flex;
}

#bouton-ajout {
  margin-top: 5px;
  border: 1px solid #7879F1 !important;
  background-color: #7879F1;
  color: #fff;
  height: 50px;
  width: 250px;
}

#bouton-ajout:hover {
  margin-top: 5px;
  border: 1px solid #191933 !important;
  background-color: #191933;
  color: #fff;
  height: 50px;
  width: 250px;
}
