.titre{
  margin-left: 20px;
  color: #5d5fef;
  font-size: 30px;
  margin-left: 240px;
  margin-top: 40px;
}

.btn {
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

.row{
  margin-left: 20px;
  justify-content: center;
}

