<app-header></app-header>
<div class="row">
  <div class="col-md-auto">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col menu text-center">
    <h2>To-Do-List</h2>
    <div class="d-flex align-items-stretch"></div>
    <input
      type="text"
      class="todo-input"
      placeholder="+ Nouvelle To-Do-List"
      [(ngModel)]="todoListTitle"
      (keyup.enter)="addTodoByTeamId()"
    />

    <div class="d-flex align-items-stretch">
      <div class="col" *ngFor="let todos of listTodos">
        <app-to-do-list [todo]="todos"> </app-to-do-list>
      </div>
    </div>
  </div>
</div>
