<!-- <div
  class="alert alert-{{ alert.type }}"
  role="alert"
  style="position: absolute; z-index: 999; top: 50%; left: 40%; width: 500px"
  *ngIf="isShow"
  id="showAlert"
>
  {{ alert.content }}
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    (click)="onClickCloseAlert()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<app-header></app-header>
<app-side-bar [backgroundColor]="'#F178B6'"></app-side-bar>
<h2 class="titre">Agenda</h2>
<app-alert
  *ngIf="isShow"
  [alert]="alert"
  (eventClose)="onClickCloseAlert()"
></app-alert>
<div style="display: flex">
  <div style="width: 100%" id="daypilot">
    <div class="wrap">
      <div class="left">
        <daypilot-navigator
          [config]="navigatorConfig"
          [(date)]="date"
          #navigator
        ></daypilot-navigator>
      </div>
      <div class="main">
        <div style="width: 100%; margin: 10px">
          <a
            href="#"
            class="btn btn-sm btn-primary"
            style="margin-right: 5px"
            (click)="navigatePrevious($event)"
            >Semaine précedente</a
          >
          <a
            href="#"
            class="btn btn-sm btn-primary"
            style="margin-right: 5px"
            (click)="navigateToday($event)"
            >Aujourd'hui</a
          >
          <a
            href="#"
            class="btn btn-sm btn-primary"
            style="margin-right: 5px"
            (click)="navigateNext($event)"
            >Semaine suivante</a
          >

          <!-- DEBUT : Pour le debugage -->
          <span *ngIf="debug"
            >team : {{ teamId }} - user: {{ userId }} - role: {{ role }}</span
          >
          <!-- FIN : Pour le debugage -->

          <span style="float: right"
            ><a
              routerLink="/ajout-evenement"
              class="btn btn-sm btn-primary"
              style="margin-right: 5px"
              >Ajouter un évènement</a
            ></span
          >
        </div>

        <daypilot-calendar
          [config]="config"
          [events]="events"
          #calendar
          (viewChange)="viewChange()"
        ></daypilot-calendar>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
