p{
    color: black;
    text-align: center;
}


.ctn-link > div {
    padding-top: 7em;
}


.min-vh-100  {
    font-weight: bold;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #e2ebe7, #f8faf5);
    //max-width: max-content;
}
