<app-header></app-header>
<app-side-bar [backgroundColor]="'#c3c3e7'"></app-side-bar>
<div>

  <div class="ctn-link min-vh-100">
 <div class="text-center">
 

<!--App-rooting.ts indique que si aucun url ne correspond, on arrive sur cette page-->
<!-- { path: '**', component: PageNotFoundComponent },-->


<!--Lien pour nous renvoyer à la racine du localhost-->
      <a routerLink="" routerLinkActive="!active">Je retourne à l'accueil</a>
      <p></p>
      

    
     <img src="/assets/images/404.gif" alt="Page introuvable">
    </div>
  </div>

</div>

