<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="signup-form text-center">
    <main class="form-signup">
        <form  (ngSubmit)="onSubmit()" [formGroup]="teamForm">
            <h1>Créer votre team!</h1>
            <div class="form-floating">
                <input type="text"
                        class="form-control"
                        id="floatingInputName"
                        placeholder=""
                        name="name"
                        formControlName="nameFc"
                        [ngClass]="{'is-valid' : teamForm.controls['nameFc'].touched && teamForm.controls['nameFc'].valid,
                                    'is-invalid':  teamForm.controls['nameFc'].touched && !teamForm.controls['nameFc'].valid}">
                <label for="floatingInputName">Nom</label>
            </div>
            <button class="w-100 btn btn-lg btn-success"
                    type="submit"
                    [disabled]="teamForm.invalid">Je crée ma team</button>
            <p>
                Value : {{ teamForm.value | json }}
            </p>
            <p>
                Form valid : {{ teamForm.valid }}
            </p>

        </form>
    </main>
</div>
