<app-header></app-header>

<div class="row">
  <div class="col-md-auto">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col team-form text-center">
    <h1>Créer votre team</h1>
    <main class="form-team">
      <form (ngSubmit)="onSubmit()" [formGroup]="teamForm">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputName"
            placeholder=""
            name="name"
            formControlName="nameFc"
            [ngClass]="{
              'is-valid':
                teamForm.controls['nameFc'].touched &&
                teamForm.controls['nameFc'].valid,
              'is-invalid':
                teamForm.controls['nameFc'].touched &&
                !teamForm.controls['nameFc'].valid
            }"
          />
          <label for="floatingInputName">Nom</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-success"
          type="submit"
          [disabled]="teamForm.invalid"
        >
          Je crée ma team
        </button>
      </form>
    </main>
  </div>
</div>
