<p>page-humeur works!   </p>
<!--<img  [src]="monHumeurLien";>
<img [src]="tabHumeur[0].lien">
-->


******************************************
<!-- <p>Présentement, {{onChoixHumeur()}}</p> -->
choix de mon humeur
<!-- {{monHumeurTitle}} -->
<!--  <br> -->
 <img src="{{monHumeurLien}}" *ngIf="monHumeurLien" >

<p>Je choisis mon humeur :</p>


<div *ngFor="let humor of tabHumeur; let i=index">
    {{i}} 
    <img src="{{humor.lien}}" alt="{{humor.title}}"  (click)="onChoixHumeur(i)">{{humor.title}}
</div> 

<div >
    

</div>