#couleur{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: black;

}

.card {
  min-height: 8px;
  border: none;
  overflow: hidden;
  border-radius: 8px;
  justify-content: center;
}


h3 {
  font-size: small;
}
