#couleur{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: black;
}

.card-title{
  text-align: center;
}

.avatar{
  width: 150px;
  height: 170px;
  border-radius: 20px;
}

.humeur{
  width: 60px;
  height: 60px;
  margin: 0 auto;
}