.login-form {
  height: 100vh;
  padding-top: 40px;
  background-color: #f5f5f5;
}
 h1{
   color: rgba(0, 0, 0, 0.658);
   font-size: 28px;
   margin-top: 20px;
 }

.form-addMember {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  border-radius: 10px;
  background-color: #fcddec;
  border-color: #ef5da8;
}

.form-addMember .checkbox {
  font-weight: 400;
}

.form-addMember .form-floating:focus-within {
  z-index: 2;
}

.form-addMember input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-addMember input[type="color"] {
  border: none;
  margin-bottom: 10px;
  margin-top: -70px;
  margin-left: 100px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.form-addMember input[type="color"]::-webkit-color-swatch {
  border: none;
  margin-top: -15px;
  border-radius: 80%;
  width: 80px;
  height: 80px;
}

.form-addMember input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-addMember input[type="date"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-addMember input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-outline-success {
  margin-top: 10px;
  background-color: #ffff;
  color: #ef5da8 !important;
  border-color: #ef5da8 !important;
}
