<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="signup-form text-center">
  <main class="form-signup">
      <form  (ngSubmit)="onSubmit()" [formGroup]="addMemberForm">
          <h1>J'inscris un nouveau membre</h1>
          <div class="form-floating">
            <input type="text"
                    class="form-control"
                    id="floatingInputlastName"
                    placeholder=""
                    name="lastName"
                    formControlName="lastNameFc"
                    [ngClass]="{'is-valid' : addMemberForm.controls['lastNameFc'].touched && addMemberForm.controls['lastNameFc'].valid,
                                'is-invalid':  addMemberForm.controls['lastNameFc'].touched && !addMemberForm.controls['lastNameFc'].valid}">
            <label for="floatingInputlastName">Avatar</label>
        </div>
          <div class="form-floating">
              <input type="text"
                      class="form-control"
                      id="floatingInputlastName"
                      placeholder=""
                      name="lastName"
                      formControlName="lastNameFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['lastNameFc'].touched && addMemberForm.controls['lastNameFc'].valid,
                                  'is-invalid':  addMemberForm.controls['lastNameFc'].touched && !addMemberForm.controls['lastNameFc'].valid}">
              <label for="floatingInputlastName">Nom</label>
          </div>
          <div class="form-floating">
              <input type="text"
                      class="form-control"
                      id="floatingInputfirstName"
                      placeholder=""
                      name="firstName"
                      formControlName="firstNameFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['firstNameFc'].touched && addMemberForm.controls['firstNameFc'].valid,
                                  'is-invalid':  addMemberForm.controls['firstNameFc'].touched && !addMemberForm.controls['firstNameFc'].valid}">
              <label for="floatingInputfirstName">Prénom</label>
          </div>
          <div class="form-floating">
              <input type="date"
                      class="form-control"
                      id="floatingInputdateNaissance"
                      placeholder=""
                      name="dateNaissance"
                      formControlName="dateNaissanceFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['dateNaissanceFc'].touched && addMemberForm.controls['dateNaissanceFc'].valid,
                                  'is-invalid':  addMemberForm.controls['dateNaissanceFc'].touched && !addMemberForm.controls['dateNaissanceFc'].valid}">
              <label for="floatingInputfirstName">Date de naissance</label>
          </div>
          <div class="form-floating">
              <select type="text"
                      class="form-control"
                      id="floatingInputprofil"
                      name="profil"
                      formControlName="profilFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['profilFc'].touched && addMemberForm.controls['profilFc'].valid,
                                  'is-invalid':  addMemberForm.controls['profilFc'].touched && !addMemberForm.controls['profilFc'].valid}">
                              <option>Adulte</option>
                              <option>Enfant</option>
              </select>
              <label for="floatingInputfirstName">Profil</label>
          </div>
          <div class="form-floating">
              <input type="email"
                      class="form-control"
                      id="floatingInput"
                      placeholder=""
                      name="email"
                      formControlName="emailFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['emailFc'].touched && addMemberForm.controls['emailFc'].valid,
                                  'is-invalid':  addMemberForm.controls['emailFc'].touched && !addMemberForm.controls['emailFc'].valid}">
              <label for="floatingInput">Adresse email</label>
          </div>
          <div class="form-floating">
              <input type="password"
                      class="form-control"
                      id="floatingPassword"
                      placeholder=""
                      name="password"
                      formControlName="passwordFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['passwordFc'].touched && addMemberForm.controls['passwordFc'].valid,
                                  'is-invalid':  addMemberForm.controls['passwordFc'].touched && !addMemberForm.controls['passwordFc'].valid}">
              <label for="floatingPassword">Mot de passe</label>
          </div>
          <div class="form-floating">
              <input type="passwordConfirm"
                      class="form-control"
                      id="floatingpasswordConfirm"
                      placeholder=""
                      name="passwordConfirm"
                      formControlName="passwordConfirmFc"
                      [ngClass]="{'is-valid' : addMemberForm.controls['passwordConfirmFc'].touched && addMemberForm.controls['passwordConfirmFc'].valid,
                                  'is-invalid':  addMemberForm.controls['passwordConfirmFc'].touched && !addMemberForm.controls['passwordConfirmFc'].valid}">
              <label for="floatingPassword">Confirmer mot de passe</label>
          </div>

          <button class="w-100 btn btn-lg btn-success"
                  type="submit"
                  [disabled]="addMemberForm.invalid">Je confirme l'ajout de ce membre à ma team !</button>
          <p>
              Value : {{ addMemberForm.value | json }}
          </p>
          <p>
              Form valid : {{ addMemberForm.valid }}
          </p>

      </form>
  </main>
